@model DigitalCoolBook.App.Models.TeacherViewModels.TeacherDeleteViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Remove account</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Model.Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2">@Model.Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>
<button type="button" id="deleteBtn" class="btn btn-outline-danger" data-dismiss="modal">Remove</button>

@using (Html.BeginForm("Delete", "Teacher", FormMethod.Post, new { id = "deleteForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-control">
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a class="btn btn-outline-secondary btn-sm" asp-action="/Admin/AdminPanel">Back</a>
    </div>
}

@section Scripts{
    <script>
        $("#deleteBtn").on("click", function () {
            $("#deleteForm").submit();
        });
    </script>
}
