@using DigitalCoolBook.App.Models.TeacherViewModels
@model IEnumerable<TeacherEditViewModel>

@{
    ViewData["Title"] = "EditTeacher";
    Layout = "_LayoutMenus";
}
<style>
    .myOrangeButton {
        background: #ffb74d;
    }
</style>
<div class="container-fluid">
    <h2 class="text-center">Редактиране на учителски профили.</h2>

    <p>
        <a asp-controller="Teacher" asp-action="RegisterTeacher" class="btn btn-sm btn-outline-info">Добавяне на учител</a>
    </p>
    <table class="table font-weight-bold table-hover table-sm" id="teacherDetails">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayName("Име")
                </th>
                <th>
                    @Html.DisplayName("Имейл")
                </th>
                <th>
                    @Html.DisplayName("Дата на раждане")
                </th>
                <th>
                    @Html.DisplayName("Място на раждане")
                </th>
                <th>
                    @Html.DisplayName("Пол")
                </th>
                <th>
                    @Html.DisplayName("Мобилен телефон")
                </th>
                <th>
                    @Html.DisplayName("Домашен телефон")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr class="text-center">
                    <td>
                        Няма записи в базата данни.
                    </td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MobilePhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </td>
                        <td class="row form-group">
                            <a class="btnDelete btn btn-sm btn-outline-danger" href="#" id="@item.Id">Изтрий</a>
                            <a class="btn btn-sm btn-outline-info ml-1" asp-controller="Teacher" asp-action="EditTeacher" asp-route-id="@item.Id">Промяна</a>
                            <a class="btn btn-sm btn-outline-info mt-1 ml-3" asp-controller="Teacher" asp-action="ChangePassword" asp-route-id="@item.Id">Смяна на парола</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a class="btn btn-sm btn-outline-info mb-2" href="/Admin/AdminPanel">назад</a>
</div>


<script type="text/javascript">
    $(function () {
        $("#dialog-confirm").hide();
        $(".btnDelete").click(function () {
            $("#dialog-confirm").dialog({
                resizable: true,
                height: 220,
                width: 400,
                modal: true,
                buttons: {

                    "назад": function () {
                        $(this).dialog("close");
                    },
                    // delete teacher
                    "изтриване": function () {
                        var teacherId = $(".btnDelete").attr("id");
                        $.ajax({
                            url: "/Teacher/Delete/" + teacherId,
                            type: "POST",
                            success: function (message) {
                                $("#successMessage").dialog({
                                    resizable: false,
                                    height: 200,
                                    width: 300,
                                    modal: true,
                                    buttons: {
                                        "Ok": function () {
                                            $(this).dialog('close', location.href = "/Teacher/EditTeachers");
                                        }
                                    }
                                });
                                $("#successMessage").html(message);
                            },
                            // error dialog
                            error: function (message) {
                                $("#errorMessageDialog").dialog({
                                    maxHeight: 290,
                                    width: 600,
                                    modal: true,
                                    buttons: {
                                        "Затвори": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                $("#errorMessage").html(message);
                            }
                        });
                        $(this).dialog("close");
                    }

                }
            });
        });
    });
</script>

<div id="dialog-confirm" title="Изтриване на потребител">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        Профилът ще бъде изтрит. Продължи?
    </p>
</div>

<div id="successMessage"></div>

<div style="display: none; " id="errorMessageDialog" title="Грешка!">
    <p style="max-height:280px; overflow:auto;" id="errorMessage">
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    </p>
</div>