@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="c-cookie-consent alert alert-info alert-dismissible fade show" role="alert">
        <div class="c-cookie-consent__info">
            <p>@Localizer["In order to be able to change the default language we have to write one extra cookie to your browser"].<br/>@Localizer["No personal data is collected for the purpose of advertising, analitics or social media purposes"].<br/>@Localizer["By clicking the"] "@Localizer["Accept"]" @Localizer["button you agree on additional cookies"].</p>
            <a href="/Home/Privacy">@Localizer["Check our site policy"]</a>
</div>
        <div class="c-cookie-consent__button-wrapper">
            <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                <span aria-hidden="true">@Localizer["Accept"]</span>
            </button>
        </div>

    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}