@model IEnumerable<DigitalCoolBook.App.Models.TestviewModels.QuestionsModel>

@{
    ViewData["Title"] = "MarkCorrectAnswers";
    Layout = "~/Views/Shared/_LayoutMenus.cshtml";
    var index = 0;
}

<h3 class="text-center mt-2">Oтбележете верните отговори</h3>
<form asp-action="MarkCorrectAnswers" method="post">
    <input hidden name="testId" value="@TempData["TestId"]" />
    <div class="container w-75">
        <div class="form-group">
            @foreach (var question in Model)
            {
                <span>@question.Title</span>
                @Html.HiddenFor(modelItem => question.QuestionId)
                foreach (var answer in question.Answers)
                {
                    <fieldset id="checkArray" class="list-group-item">
                        <input type="checkbox" name="correctAnswerIds[]" value="@answer.AnswerId" />
                        <span>@answer.Title</span>
                    </fieldset>
                    index += 1;
                }
            }
            <span class="text-danger text-center mt-1" id="alertAnswers"></span>
            <p class="text-center"><small>Това са верните отговори на базата на който ще се образува резултата.</small></p>
            <div class="form-group d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-block btn-outline-primary">запази</button>
            </div>
        </div>
    </div>
</form>
<div id="popupDialog"></div>

<!--Submit and display popup confirmation-->
<script type="text/javascript">
    $('form').on('submit', function (event) {
        event.preventDefault();

        // DoValidation();   // validate checkboxes

        var action = $(this).attr("action");   // get form action
        var formData = $(this).serialize();    // serialize form fields
        var popupDialog = $('#popupDialog');  //popup dialog

        $.post(action, formData, function (response) {
            popupDialog.dialog({
                resizable: false,
                height: 220,
                width: 400,
                modal: true,
                buttons: {
                    "Ok": function () {
                        $(this).dialog('close');
                    }
                }
            })
        }).done(function (response) {
            popupDialog.html(response)
                .fail(function (response) {
                    popupDialog.html(response.error + '-' + response.message);
                });
        })
    })

    // TODO fix bug
    // Validate checkboxes
    function DoValidation() {
        if ($('#checkArray:checkbox:checked').length == 0) {
            $("#alertAnswers").html("Маркирайте верните отговори за всички въпроси.").fadeToggle(5000);
            return false;
        }
    }
</script>