@model DigitalCoolBook.App.Models.TestviewModels.TestStartViewModel

@{
    Layout = "~/Views/Shared/_SubjectDetailLayout.cshtml";
}

<div class="container">
    <div class="col text-center mt-4">
        <h3>
            @Model.TestName
        </h3>
    </div>
    <form id="form" asp-action="EndTest" method="post">
        <div class="row ">
            <div class="col-md-6 text-left">
                <div class="col">
                    @Html.DisplayNameFor(model => model.Date)
                </div>
                <div class="col" id="dateTime">
                    @Convert.ToString(string.Format("{0:dd/mm/yyyy}", Model.Date))
                    <div class="digital-clock">00:00:00</div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="col">
                    @Html.DisplayNameFor(model => model.Timer)
                    <h1 class="timer" data-minutes-left="@Model.Timer"></h1>
                </div>
                <div class="col" id="timer">
                </div>
            </div>
            <div class="col w-50 text-center">
                @for (int i = 0; i < Model.Questions.Count; i++)
                {
                    <ul class="list-group">
                        <li class="list-group-item ">
                            @Html.CheckBoxFor(m => m.Questions[i].IsChecked)
                            @Html.DisplayNameFor(m=>m.Questions[i].Title)
                        </li>
                    </ul>
                }
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-outline-info mt-2 mb-2">Напред</button>
        </div>
        <div class="text-right pb-1">
            <input type="submit" value="Предаване" class="btn btn-outline-danger" />
        </div>
    </form>
</div>

@*countdown function*@
<script type="text/javascript">

    $('.timer').startTimer({
        onComplete: function () {
            submitForm();
        }
    });

    function submitForm() {
        alert("Край на теста.");
        $("#form").submit();
    };
</script>

@*digital-clock function*@
<script>
    $(document).ready(function () {
        clockUpdate();
        setInterval(clockUpdate, 1000);
    })

    function clockUpdate() {
        var date = new Date();
        $('.digital-clock');
        function addZero(x) {
            if (x < 10) {
                return x = '0' + x;
            } else {
                return x;
            }
        }

        function twelveHour(x) {
            if (x > 12) {
                return x = x - 12;
            } else if (x == 0) {
                return x = 12;
            } else {
                return x;
            }
        }

        var h = addZero(twelveHour(date.getHours()));
        var m = addZero(date.getMinutes());
        var s = addZero(date.getSeconds());

        $('.digital-clock').text(h + ':' + m + ':' + s)
    }
</script>
