@model IEnumerable<DigitalCoolBook.App.Models.TestviewModels.TestsNamesViewModel>

@{
    ViewData["Title"] = "Tests";
    Layout = "_LayoutMenus";
}

<div class="container-fluid w-75">
    <h1 class="text-center">Тестове</h1>
    <div class="row">
        @Html.DisplayNameFor(model => model.TestName)
    </div>

    @foreach (var test in Model)
    {
        @if (test.IsExpired)
        {
            <div class="text-danger">
                @Html.DisplayFor(modelItem => test.TestName)
            </div>
        }
        else
        {
            @Html.DisplayFor(modelItem => test.TestName)
        }

        <div class="btn btn-outline-success mb-2">
            @if (test.IsExpired)
            {
                <span class="text-danger">Теста е приключил</span>
            }
            else if (test.Timer == 0)
            {
                @Html.ActionLink("Задаване на таймер", "SetTestTimer", "Test", new { testId = test.TestId })
            }
            else
            {
                @Html.ActionLink("Старт", "StartTest", "Test", new { id = test.TestId })
            }
        </div>
    }


</div>

