@using DigitalCoolBook.App.Models.TeacherViewModels
@model IEnumerable<TeacherEditViewModel>

@{
    ViewData["Title"] = "EditTeacher";
}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Затвори</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Изтрий</h4>
            </div>
            <div id="deleteModalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
            </div>
        </div>
    </div>
</div>

<h1>Изтриване или редактиране на Учителски профили</h1>
<p>
    <a asp-controller="Teacher" asp-action="RegisterTeacher" class="btn btn-outline-dark font-weight-bold">Създай нов</a>
</p>
<table class="table font-weight-bold">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    <a href="#" class="deleteLink" id="@item.TeacherId">Изтрий</a> |
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.TeacherId  }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeacherId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $("#deleteModal").modal("hide");
    $(".deleteLink").on("click", function () {
        $.get('@Url.Action("GetDeletePartial")',
            { id: $(this).prop("id") },
            function (data) {
                $("#deleteModalBody").html(data);
                $("#deleteModal").modal("show");
            });
    });
</script>
