@model IEnumerable<DigitalCoolBook.App.Models.GradeParaleloViewModels.ParaleloViewModel>

@{
    ViewData["Title"] = "CreateParalelo";
    Layout = "_LayoutMenus";
}

<h2>Добавяне/Редактиране на Паралелки</h2>
<p>
    <a class="btn btn-secondary" href="/Admin/CreateParalelo">Създай нова Паралелка</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Име на Учител")
            </th>
            <th>
                @Html.DisplayName("Име на Класа")
            </th>
            <th>
                @Html.DisplayName("Брой ученици")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.Count)
                </td>
                <td>
                    <button class="text-white btn btn-secondary btn-sm">
                        @Html.ActionLink("Редактиране", "EditParalelo", new { id = item.Id })
                    </button>
                    <button class="text-white btn btn-secondary btn-sm">
                        @Html.ActionLink("Изтриване", "DeleteParalelo", new { id = item.Id })
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
