@model DigitalCoolBook.Web.Models.CategoryViewModels.LessonsViewModel

@{
    ViewData["Title"] = "LessonDetails";
    Layout = "_Layout";
}

<div class="offset-md-2 col-md-8 offset-sm-0 col-sm-12 mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a class="link-lg" 
                   asp-action="Subjects">Subjects</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a class="link-lg" 
                   asp-action="Categories" 
                   asp-route-subjectId="@Model.SubjectId"
                   asp-route-categoryId="@Model.CategoryId">Categories</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a class="link-lg" 
                   asp-action="CategoryDetails" 
                   asp-route-categoryDetailsModel="@Model">Lessons</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Lesson</li>
        </ol>
    </nav>
    <h3>@Model.Title</h3>
    <hr/>
    <div class="mb-3 bg-dark lesson-wrapper">
        <p class="lesson-content text-white">@Model.Content</p>
    </div>
    <a asp-controller="Subject"
       asp-action="CategoryDetails"
       asp-route-categoryId="@Model.CategoryId"
       asp-route-subjectId="@Model.CategoryId"><i class="fas fa-lg fa-arrow-circle-left"></i></a>
</div>
