@model RentCargoBus.Web.Models.Index.CarsVansViewModel
@{
    ViewData["Title"] = "Cars";
}

<article class="c-main__vehicles effect-stretch5">
    <h2 class="c-main__vehicles__title">@Localizer[ViewData["Title"].ToString()]:</h2>
    <section class="c-main__vans">
        @if (Model.Cars.Any())
        {
            @foreach (var car in Model.Cars)
            {
                <div class="c-main__vans__container">
                    <a class="c-card" asp-controller="Home" asp-action="CarDetails" asp-route-id="@car.CarId">
                        <div class="c-card__wrapper">
                            @if (car.Images.Count > 0)
                            {
                                <img class="c-card__image" src="/images/@car.Images.FirstOrDefault().ImageName" alt="car" />
                            }
                            else
                            {
                                <img class="c-card__image" src="/images/default-car-icon.jpg" alt="car" />
                            }
                        </div>
                        <div class="c-card__info">
                            <h2>@car.Brand</h2>
                            <h3>@car.Model</h3>
                            <div class="c-card__info__details">
                                <p class="c-card__info__details__price">
                                    @Localizer["Lease price from"]:
                                    <span class="c-card__info__details__span">@car.HirePrice  &euro;</span>
                                    @Localizer["Day"]
                                </p>

                                @if (car.IsAvailable)
                                {
                                    <p class="c-card__info__availability">@Localizer["Available"]</p>
                                }
                                else
                                {
                                    <p class="c-card__info__availability c-card__info__availability--busy">
                                        @Localizer["Not Available"]
                                    </p>
                                }
                            </div>
                        </div>
                    </a>

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <article class="c-card__info__action__wrapper">
                            <a class="c-card__info__action"
                               asp-action="EditCar"
                               asp-controller="Admin"
                               asp-route-id="@car.CarId">Edit</a>

                            <a class="c-card__info__action c-card__info__action--delete"
                               onclick="deleteCar(this)"
                               id="@car.CarId">Delete</a>
                        </article>
                    }
                </div>

            }
        }
        else
        {
            <h4 class="c-main__vans__no-vehicles">
                @Localizer["No cars at the moment"].
            </h4>
        }

    </section>
</article>

<div id="dialog" title="Delete"></div>