@model RentCargoBus.Web.Models.Index.CarsViewModel

@{
    ViewData["Title"] = "Car Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="description" content="RentAVan - Car information" />
<title>@ViewData["Title"]</title>

<section class="vehicle-details">
    <article class="vehicle-details__brand-info effect-stretch1">
        <h1 class="vehicle-details__brand">@Model.Brand</h1>
        <h3 class="vehicle-details__model">@Model.Model</h3>
    </article>

    <section class="vehicle-details__images-and-info">
        <article class="vehicle-details__info effect-stretch2">
            <div class="vehicle-details__info__details-wrapper">
                <p class="vehicle-details__item">
                    @Localizer["Plate number"]<span class="plate-number">@Model.PlateNumber</span>
                </p>
                <p class="vehicle-details__item">
                    @Localizer["Doors"]<span>@Model.Doors</span>
                </p>
                <p class="vehicle-details__item">
                    @Localizer["Consumption"]<span>@Model.MilesPerGallon km/l</span>
                </p>
            </div>
            <div class="vehicle-details__info__details-wrapper">
                <partial name="_VehicleDetailsPricePartial" />
            </div>
        </article>

        <article class="vehicle-details__images">
            @if (Model.Images.Count != 0)
            {
                @foreach (var image in Model.Images)
                {
                    <div class="vehicle-details__image-wrapper">
                        <img class="vehicle-details__image"
                             onclick="openModal(this)"
                             src="/images/@image.ImageName"
                             alt="van image" />
                    </div>
                }
            }
            else
            {
                <h4 class="vehicle-details__images__no-images">No images at the moment.</h4>
            }

            <div class="vehicle-details__image-enlarge">
                <span class="vehicle-details__image-enlarge__close">&times;</span>
                <img class="vehicle-details__image-enlarge__image" src="" alt="van image enlarge" />
            </div>

        </article>
    </section>

    <partial name="_VehicleDetailsContactUsPartial" />

    <a class="back-to-index" asp-action="Index"> @Localizer["Back"]</a>
</section>

<partial name="_VehicleDetailsEmailModalPartial">