@model DigitalCoolBook.App.Models.GradeParaleloViewModels.ParaleloCreateViewModel

@{
    ViewData["Title"] = "EditClass";
    Layout = "_Layout";
}

<div class="row text-center">
    <h3>Reassign teacher to class</h3>
    <form asp-action="EditParalelo" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="GradeParaleloId" id="GradeParaleloId" value="@Model.GradeParaleloId" />
        <div class="form-group mt-2">
            <select class="form-select select w-50" name="IdTeacher">
                <option selected>Select Teacher...</option>
                @foreach (var teacher in Model.Teachers)
                {
                    <option value="@teacher.Id">@teacher.Name</option>
                }
            </select>
        </div>
        <div class="form-group mt-2">
            <select class="form-select select w-50" name="IdGrade">
                <option selected>Select Class...</option>
                @foreach (var grade in Model.Grades)
                {
                    <option value="@grade.GradeId">@grade.Name</option>
                }
            </select>
        </div>
        <div class="buttons-wrapper">
            <a class="btn btn-outline-secondary btn-sm" asp-controller="Admin" asp-action="EditParalelos">Back</a>
            <input class="btn btn-outline-success btn-sm" type="submit" value="Save" />
        </div>
    </form>
</div>


