@using DigitalCoolBook.Models
@model IEnumerable<DigitalCoolBook.App.Models.GradeParaleloViewModels.ParaleloViewModel>

@{
    ViewData["Title"] = "CreateParalelo";
    Layout = "_Layout";
}

<div class="offset-md-2 col-md-7 offset-sm-0 col-sm-12 mt-3">
    <div class="page-wrapper">
        <h3>Class control panel</h3>
        <hr />
        <a class="btn btn-success btn-sm  mb-2"
           asp-controller="Admin"
           asp-action="CreateParalelo"><i class="fas fa-plus"></i> Class</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Teacher name</th>
                    <th>Class</th>
                    <th>Number of students</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model)
                {
                    <tr>

                        <td>@teacher.TeacherName</td>
                        <td>@teacher.GradeName</td>
                        <td>@teacher.Students.Count</td>
                        <td class="buttons-wrapper">
                            <a class="btn btn-warning btn-sm"
                               asp-controller="Admin"
                               asp-action="EditParalelo"
                               asp-route-teacherId="@teacher.Id"
                               asp-route-gradeId="@teacher.GradeId">
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm"
                               asp-controller="Admin"
                               asp-action="DeleteParalelo"
                               asp-route-id="@teacher.Id">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="buttons-wrapper">
        <a asp-controller="Admin"
           asp-action="AdminPanel"><i class="fas fa-lg fa-arrow-circle-left"></i></a>
    </div>
</div>
