<div class="vehicle-details__item vehicle-details__price">
    <label class="vehicle-details__price__availability">@Localizer["Prices"] Bulgaria</label>
    <article class="vehicle-details__item vehicle-details__price__info">
        <section>
            <label>@Localizer["Price per day"]</label>
            <span>@Model.HirePrice &euro;</span>
        </section>
        <section>
            <label>@Localizer["Deposit"]</label>
            <span>@Model.DepositBg &euro;</span>
        </section>
        <section class="vehicle-details__item__delivery">
            <small>@Localizer["Optional"]:</small>
            <div>
                <label>@Localizer["Delivery"]</label>
                <span>@Model.DeliveryBg &euro;</span>
            </div>
        </section>
    </article>
</div>

<div class="vehicle-details__item vehicle-details__price">
    <label class="vehicle-details__price__availability">@Localizer["Prices"] Europe</label>
    <article class="vehicle-details__item vehicle-details__price__info">
        <section>
            <label>@Localizer["Price per Month"]</label>
            <span class="vehicle-details__price--normal">@Model.HirePriceMonth &euro;</span>
        </section>
        <section>
            <label>@Localizer["Deposit"]</label>
            <span class="vehicle-details__price--small">@Model.DepositEu &euro;</span>
        </section>
        <sectionclass class="vehicle-details__item__delivery">
            <small> @Localizer["Optional"]:</small>
            <div>
                <label>@Localizer["Delivery"]</label>
                <span class="vehicle-details__price--small">@Model.DeliveryEu &euro;</span>
            </div>
        </sectionclass>
        <section>
            <p class="text-success">@Localizer["A 6 мonth plan is available. Contact us for more information"].</p>
        </section>
    </article>
</div>