@model IEnumerable<DigitalCoolBook.Web.Models.TestviewModels.QuestionsModel>

@{
    ViewData["Title"] = "MarkCorrectAnswers";
    Layout = "_Layout";
    var index = 0;
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <div class="page-wrapper">
        <h3>Mark the correct answers</h3>
        <hr />
        <form asp-action="MarkCorrectAnswers" method="post">
            <input hidden name="testId" value="@TempData["TestId"]" />
            <div class="form-group">
                @foreach (var question in Model)
                {
                    <span class="form-label">@question.Title</span>
                    @Html.HiddenFor(modelItem => question.QuestionId)
                    foreach (var answer in question.Answers)
                    {
                        <fieldset id="checkArray" class="list-group-item mb-2">
                            <input type="checkbox" name="correctAnswerIds[]" value="@answer.AnswerId" />
                            <span>@answer.Title</span>
                        </fieldset>

                        index += 1;
                    }
                }
                <span class="text-danger text-center mt-1" id="alertAnswers"></span>
                <div class="text-center"><small>These are the correct answers that will be used to evaluate the test</small></div>
                <div class="buttons-wrapper">
                    <button type="submit" class="btn btn-success btn-sm">Create <i class="fas fa-plus"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>
        $('form').on('submit',
            function (event) {
                event.preventDefault();

                if (!DoValidation()) {
                    return;
                }

                var action = $(this).attr("action"); // get form action
                var formData = $(this).serialize(); // serialize form fields

                $.post(action, formData, function () { location.href = "/Test/Tests"; });
            });

        // Validate checkboxes
        function DoValidation() {
            if ($('#checkArray input:checked').length === 0) {
                $("#alertAnswers").html("Please mark the correct answers").fadeToggle(1000);
                return false;
            }
            return true;
        }
    </script>
}
<!--Submit and display popup confirmation-->
