@model DigitalCoolBook.App.Models.TestviewModels.TestStartViewModel

@{
    Layout = "_LayoutMenus";
    var index = 0;
}

<div class="container-fluid w-70">
    <div class="col text-center mt-4">
        <p class="col-form-label-lg">@Model.TestName</p>
    </div>
    <!--Change this in production so the student can do the test and teachers can see the remaining time-->
    @*this.User.IsInRole(Student)*@
    @if (true)
    {
        <form id="form" asp-action="EndTest" method="post">
            <div class="row">
                <div class="col align-content-start">
                    <div>
                        @Html.DisplayNameFor(model => model.Date)
                    </div>
                    @Convert.ToString(string.Format("{0:dd/M/yyyy}", Model.Date))
                    <div>
                        <span class="digital-clock">00:00:00</span><span>ч.</span>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="row form-group text-right">
                        <span class="col-form-label">Оставащо време:</span>
                    </div>
                    <div class="row form-group mt-3">
                        <span class="timer col-form-label" data-minutes-left="@Model.Timer"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                @foreach (var question in Model.Questions)
                {
                    <div class="col-form-label-lg mt-4">
                        <span name="questionCount">@question.Title</span>
                    </div>
                    <input type="hidden" name="[@index].questionId" value="@question.QuestionId" />

                    foreach (var answer in question.Answers)
                    {
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input type="checkbox" name="[@index].answerId" value="@answer.AnswerId" />
                                <label class="col-form-label-lg">@answer.Title</label>
                            </li>
                        </ul>
                    }
                    index += 1;
                }
            </div>
            <div class="d-flex justify-content-center mt-4 mb-3">
                <input type="submit" value="Предай" class="btn btn-outline-danger" />
            </div>
        </form>
    }
    else
    {
        <div class="text-center">
            <h1 class="text-success">Теста е активен</h1>
        </div>
        <div class="col d-flex justify-content-center mt-4">
            <div class="row form-group text-right">
                <span class="col-form-label">Оставащо време:</span>
            </div>
            <div class="row form-group mt-3">
                <span class="timer col-form-label" data-minutes-left="@Model.Timer"></span>
            </div>
        </div>
    }
</div>

<!--Script-->
<script src="~/js/jquery.simple.timer.js" type="text/javascript"></script>

<!--validate checkboxes-->
<script>
    $('form').on('submit', function (event) {
        var count = document.getElementsByName("questionCount").length;
        debugger;
        for (var i = 0; i < length; i++) {

        }
    })
</script>

<!--countdown function-->
<script type="text/javascript">
    $(function () {
        $('.timer').startTimer({
            onComplete: function () {
                submitForm();
            }
        });
    })

    function submitForm() {
        alert("Край на теста.");
        $("#form").submit();
    };
</script>

<!--digital-clock-->
<script>
    $(document).ready(function () {
        clockUpdate();
        setInterval(clockUpdate, 1000);
    })

    function clockUpdate() {
        var date = new Date();
        $('.digital-clock');
        function addZero(x) {
            if (x < 10) {
                return x = '0' + x;
            } else {
                return x;
            }
        }

        function twelveHour(x) {
            if (x > 12) {
                return x = x - 12;
            } else if (x == 0) {
                return x = 12;
            } else {
                return x;
            }
        }

        var h = addZero(twelveHour(date.getHours()));
        var m = addZero(date.getMinutes());
        var s = addZero(date.getSeconds());

        $('.digital-clock').text(h + ':' + m + ':' + s)
    }
</script>

<!--Timer styling-->
<style>
    .timer, .timer-done, .timer-loop {
        font-size: 25px;
        color: black;
        font-weight: bold;
        padding: 10px;
    }

    /*These are the default CSS classes
    used by this plugin. Use these values
    for a basic style to get started.*/

    .jst-hours {
        float: left;
    }

    .jst-minutes {
        float: left;
    }

    .jst-seconds {
        float: left;
    }

    .jst-clearDiv {
        clear: both;
    }

    .jst-timeout {
        color: red;
    }
</style>