@model DigitalCoolBook.App.Models.TestviewModels.TestStartViewModel

@{
    Layout = "_Layout";
    var index = 0;
}

<div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12 mt-3">
    <div class="page-wrapper">
        <h3>T E S T - @Model.TestName</h3>
        <hr />
        @if (this.User.IsInRole("Student"))
        {
            <form id="form" asp-action="EndTest" method="post">
                <div class="row">
                    <div class="col align-content-start">
                        <div>
                            @Html.DisplayNameFor(model => model.Date)
                        </div>
                        @Convert.ToString($"{Model.Date:dd/M/yyyy}")
                        <div>
                            <span class="digital-clock">00:00:00</span><span>ч.</span>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="text-end">
                            <span class="col-form-label">Time remaining:</span>
                        </div>
                        <div class="mt-3">
                            <span class="timer col-form-label" data-minutes-left="@Model.Timer"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    @foreach (var question in Model.Questions)
                    {
                        <div class="col-form-label-lg mt-4">
                            <span name="questionCount">@question.Title</span>
                        </div>
                        <input type="hidden" name="[@index].questionId" value="@question.QuestionId" />

                        foreach (var answer in question.Answers)
                        {
                            <ul class="list-group mb-1">
                                <li class="list-group-item">
                                    <input type="checkbox"
                                           name="[@index].answerId"
                                           value="@answer.AnswerId" />
                                    <label class="col-form-label-lg">@answer.Title</label>
                                </li>
                            </ul>
                        }
                        index += 1;
                    }
                </div>
                <div class="buttons-wrapper mt-4 mb-3">
                    <button type="submit" class="btn btn-success">Finish <i class="fas fa-check"></i></button>
                </div>
            </form>
        }
        else if (this.User.IsInRole("Teacher"))
        {
            <h4 class="text-success text-center">Active</h4>
            <div>
                <h5>Participants</h5>
                <ol class="added-students" id="added-students">
                    @foreach (var studentName in Model.StudentNames)
                    {
                        <li>@studentName</li>
                    }
                </ol>
            </div>
            <div class="mt-2">
                <h5>Started</h5>
                <div class="connected-students" id="activeStudents"></div>
            </div>
            <div class="mt-2">
                <h5>Finished</h5>
                <div class="disconnected-students" id="finishedStudents"></div>
            </div>
            <div class="buttons-wrapper mt-4">
                <a class="btn btn-danger"
                   asp-controller="Test"
                   asp-action="EndTestAllStudents"
                   asp-route-testId="@Model.TestId">End Test</a>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script src="~/js/custom/startTest-signalR.js"></script>
    <script src="~/js/jquery.simple.timer.js"></script>

    <!--validate checkboxes-->
    @*<script>
            $('form').on('submit', function (event) {
                var count = document.getElementsByName("questionCount").length;
                for (var i = 0; i < length; i++) {

                }
            })
        </script>*@

    <!--countdown function-->
    <script>
        $(function () {
            $('.timer').startTimer({
                onComplete: function () {
                    submitForm();
                }
            });
        });

        function submitForm() {
            alert("Test submitted");
            $("#form").submit();
        };

        //digital - clock
        $(document).ready(function () {
            clockUpdate();
            setInterval(clockUpdate, 1000);
        });

        function clockUpdate() {
            var date = new Date();
            $('.digital-clock');
            function addZero(x) {
                if (x < 10) {
                    return x = '0' + x;
                } else {
                    return x;
                }
            }

            function twelveHour(x) {
                if (x > 12) {
                    return x = x - 12;
                } else if (x === 0) {
                    return x = 12;
                } else {
                    return x;
                }
            }

            var h = addZero(twelveHour(date.getHours()));
            var m = addZero(date.getMinutes());
            var s = addZero(date.getSeconds());

            $('.digital-clock').text(h + ':' + m + ':' + s);
        }
    </script>
}


<!--Timer styling-->
<style>
    .timer, .timer-done, .timer-loop {
        font-size: 25px;
        color: black;
        font-weight: bold;
        padding: 10px;
    }

    .jst-hours {
        float: left;
    }

    .jst-minutes {
        float: left;
    }

    .jst-seconds {
        float: left;
    }

    .jst-clearDiv {
        clear: both;
    }

    .jst-timeout {
        color: red;
    }
</style>