@model IEnumerable<DigitalCoolBook.App.Models.StudentViewModels.StudentChangePasswordViewModel>

@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Промяна на парола за ученици</h2>

<table class="table font-weight-bold table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-secondary" asp-controller="Student" asp-action="ChangePassword" asp-route-id="@item.Id">Промени парола</a>
            </td>
        </tr>
}
    </tbody>
</table>
