@model DigitalCoolBook.App.Models.StudentViewModels.StudentGradeEditViewModel

@{
    ViewData["Title"] = "EditStudents";
}

<h2>Изтриване или редактиране на ученически профили.</h2>

<p>
    <a asp-controller="Student" asp-action="RegisterStudent" class="btn btn-secondary ">Създай нов</a>
</p>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayName("Имейл")
            </th>
            <th>
                @Html.DisplayName("Име")
            </th>
            <th>
                @Html.DisplayName("Дата на раждане")
            </th>
            <th>
                @Html.DisplayName("Място на раждане")
            </th>
            <th>
                @Html.DisplayName("Пол")
            </th>
            <th>
                @Html.DisplayName("Мобилен телефон")
            </th>
            <th>
                @Html.DisplayName("Домашен телефон")
            </th>
            <th>
                @Html.DisplayName("Бащино име")
            </th>
            <th>
                @Html.DisplayName("Майчино име")
            </th>
            <th>
                @Html.DisplayName("Телефон на майката")
            </th>
            <th>
                @Html.DisplayName("Телефон на бащата")
            </th>
            <th>
                @Html.DisplayName("Адрес")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotherMobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatherMobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <div style="overflow:scroll;height:150px" class="dropdown">
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Клас и паралелка
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var grade in Model.Grades)
                            {
                                <a class="dropdown-item" href="#">@grade.Name</a>
                            }
                        </div>
                    </div>
                </td>
                <td>
                    <a class="btnDelete btn btn-sm btn-secondary" href="#" id="@item.StudentId">Изтрий</a>
                    <a class="btn btn-sm btn-secondary mt-1" asp-controller="Student" asp-action="EditStudent" asp-route-id="@item.StudentId">Редактирай</a>
                    <a class="btn btn-sm btn-secondary mt-1" asp-controller="Student" asp-action="ChangePassword" asp-route-id="@item.StudentId">Смяна на парола</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        $("#dialog-confirm").hide();
        $(".btnDelete").click(function () {
            $("#dialog-confirm").dialog({
                resizable: true,
                height: 250,
                width: 450,
                modal: true,
                buttons: {
                    "изтриване": function () {
                        var studentId = $(".btnDelete").attr("id");
                        $.ajax({
                            url: "/Student/DeleteStudent/" + studentId,
                            type: "POST",
                            success: function () {
                                $("#successMessage").dialog({
                                    resizable: false,
                                    height: 200,
                                    width: 300,
                                    modal: true,
                                    buttons: {
                                        "Затвори": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                $("#successMessage").html("Профилът беше изтрит!");
                            },
                            error: function (request, err, message) {
                                $("#errorMessage").html(request.responseText);
                                $("#errorMessageDialog").dialog({
                                    maxHeight: 290,
                                    width: 600,
                                    modal: true,
                                    buttons: {
                                        "Затвори": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                //In release version use this
                                //$("#errorMessage").html("Потребителя не  може да бъде изтрит");
                            }
                        });
                        $(this).dialog("close");
                    },
                    "назад": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    });
</script>

<div id="dialog-confirm" title="Изтриване на потребител">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        Профилът ще бъде изтрит. Продължи?
    </p>
</div>

<div id="successMessage"></div>

<div style="display: none; " id="errorMessageDialog" title="Грешка!">
    <p style="max-height:280px; overflow:auto;" id="errorMessage">
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    </p>
</div>