@model DigitalCoolBook.App.Models.TeacherViewModels.TeacherDeleteViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutMenus";
}

<h1>Изтриване</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<button type="button" id="deleteBtn" class="btn btn-default" data-dismiss="modal">Delete</button>

@using (Html.BeginForm("Delete", "Teacher", FormMethod.Post, new { id = "deleteForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-control">
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        <a asp-action="/Admin/AdminPanel">Назад</a>
    </div>
}

<script>
    $("#deleteBtn").on("click", function () {
        $("#deleteForm").submit();
    });
</script>
