@using DigitalCoolBook.App.Models.TeacherViewModels
@model IEnumerable<TeacherEditViewModel>

@{
    ViewData["Title"] = "EditTeacher";
}

<h2>Изтриване или редактиране на учителски профили.</h2>

<p>
    <a asp-controller="Teacher" asp-action="RegisterTeacher" class="btn btn-secondary ">Създай нов</a>
</p>
<table class="table font-weight-bold table-hover table-sm" id="teacherDetails">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayName("Идентификационен номер")
            </th>
            <th>
                @Html.DisplayName("Име")
            </th>
            <th>
                @Html.DisplayName("Имейл")
            </th>
            <th>
                @Html.DisplayName("Дата на раждане")
            </th>
            <th>
                @Html.DisplayName("Място на раждане")
            </th>
            <th>
                @Html.DisplayName("Пол")
            </th>
            <th>
                @Html.DisplayName("Мобилен телефон")
            </th>
            <th>
                @Html.DisplayName("Домашен телефон")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    <a class="btnDelete btn btn-sm btn-secondary" href="#" id="@item.Id">Изтрий</a>
                    <a class="btn btn-sm btn-secondary mt-1" asp-controller="Teacher" asp-action="EditTeacher" asp-route-id="@item.Id">Редактирай</a>
                    <a class="btn btn-sm btn-secondary mt-1" asp-controller="Teacher" asp-action="ChangePassword" asp-route-id="@item.Id">Смяна на парола</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        $("#dialog-confirm").hide();
        $(".btnDelete").click(function () {
            $("#dialog-confirm").dialog({
                resizable: true,
                height: 250,
                width: 500,
                modal: true,
                buttons: {
                    "изтриване": function () {
                        var teacherId = $(".btnDelete").attr("id");
                        $.ajax({
                            url: "/Teacher/Delete/" + teacherId,
                            type: "POST",
                            success: function () {
                                $("#successMessage").dialog({
                                    resizable: false,
                                    height: 200,
                                    width: 300,
                                    modal: true,
                                    buttons: {
                                        "Затвори": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                $("#successMessage").html("Профилът беше изтрит!");
                            },
                            error: function (request, err, message) {
                                $("#errorMessageDialog").dialog({
                                    maxHeight: 290,
                                    width: 600,
                                    modal: true,
                                    buttons: {
                                        "Затвори": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                $("#errorMessage").html(request.responseText);
                                //$("#errorMessage").html("Потребителя не  може да бъде изтрит");
                            }
                        });
                        $(this).dialog("close");
                    },
                    "назад": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    });
</script>

<div id="dialog-confirm" title="Изтриване на потребител">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        Профилът ще бъде изтрит. Продължи?
    </p>
</div>

<div id="successMessage"></div>

<div style="display: none; " id="errorMessageDialog" title="Грешка!">
    <p style="max-height:280px; overflow:auto;" id="errorMessage">
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    </p>
</div>