@model IEnumerable<DigitalCoolBook.App.Models.CategoryViewModels.LessonsViewModel>

@{
    Layout = "~/Views/Shared/_SubjectDetailLayout.cshtml";
}

<h2>@ViewData["CategoryTitle"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Заглавие")
            </th>
            <th>
                @Html.DisplayName("Съдържание")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.ActionLink("Промяна", "Edit", new { id = item.Id })
                    @Html.ActionLink("Изтриване", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>
