@model IEnumerable<DigitalCoolBook.App.Models.CategoryViewModels.LessonsViewModel>

@{
    Layout = "~/Views/Shared/_SubjectDetailLayout.cshtml";
}

<div class="col d-flex justify-content-center">
    <h2>@ViewData["CategoryTitle"]</h2>
</div>
<hr class="hr-orchid" />
<h2 class="d-flex justify-content-center">Теми</h2>
<hr class="hr-orchid" />

<div>
    @foreach (var item in Model)
    {
        <div class="d-flex justify-content-center">
            <a href="/Subject/LessonDetails/@item.Id" class="boxed-btn w-75 mb-2">@item.Title</a>
        </div>
        <div>
            @if (this.User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <button class="btn btn-outline-info w-100">
                        @Html.ActionLink("Промяна", "Edit", new { id = item.Id })
                    </button>

                    <a class="btnDelete btn btn-outline-info w-100 mt-2" id="@item.Id" href="#">Изтрии</a>
                </div>
            }
        </div>
    }
</div>
<div class="mt-4 ml-4 mb-2">
    <a href="@Url.Action("Categories", "Subject",new {Id = ViewData["SubjectId"]})" class="btn btn-outline-info">Назад</a>
</div>

@if (this.User.IsInRole("Admin"))
{
    <p class="btn btn-outline-info">
        <a asp-action="AddLesson">Създаване</a>
    </p>
}

<div id="dialog-confirm" title="Изтриване на урок">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        Информацията ще бъде изтрита. Продължи?
    </p>
</div>

<div id="successMessage"></div>

<div style="display: none; " id="errorMessageDialog" title="Грешка!">
    <p style="max-height:280px; overflow:auto;" id="errorMessage">
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    </p>
</div>

<script>
    $(function () {
        $("#dialog-confirm").hide();
        $(".btnDelete").click(function () {
            $("#dialog-confirm").dialog({
                resizable: true,
                height: 250,
                width: 450,
                modal: true,
                buttons:
                {
                    "изтриване": function () {
                        var categoryId = $(".btnDelete").attr("id");
                        $.ajax({
                            url: "/Subject/DeleteLesson/" + categoryId,
                            type: "POST",
                            success: function () {
                                $("#successMessage").dialog({
                                    resizable: false,
                                    height: 200,
                                    width: 300,
                                    modal: true,
                                    buttons: {
                                        "Затвори": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                $("#successMessage").html("Успешно изтриване!");
                            },
                            error: function (request, err, message) {
                                $("#errorMessage").html(request.statusText);
                                $("#errorMessageDialog").dialog({
                                    maxHeight: 290,
                                    width: 600,
                                    modal: true,
                                    buttons: {
                                        "Затвори": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                //In release version use this
                                //$("#errorMessage").html("Потребителя не  може да бъде изтрит");
                            }
                        });
                        $(this).dialog("close");
                    },
                    "назад": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    });
</script>