@model DigitalCoolBook.App.Models.CategoryViewModels.CategoryDetailsViewModel

@{
    Layout = "_LayoutMenus";
}

<div class="container-fluid">
    <div class="col">
        <h2>@ViewData["CategoryTitle"]</h2>
    </div>
    <hr />
    <div class="d-flex justify-content-center">
        <h2 class="mb-2 my-border col-sm-auto text-white">Теми</h2>
    </div>
    <div>
        @foreach (var lesson in Model.Lessons)
        {
            <div class="row">
                <div class=" col-sm-7 d-flex justify-content-center">
                    <a href="/Subject/LessonDetails/@lesson.LessonId" class=" btn-outline-info btn-lg mb-2">@lesson.Title</a>
                </div>
                <div>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <div class="form-group">
                            <button class="btn btn-outline-info w-100">
                                @Html.ActionLink("Промяна", "Edit", new { id = lesson.LessonId })
                            </button>
                            <a class="btnDelete btn btn-outline-info w-100 mt-2" id="@lesson.LessonId" href="#">Изтрии</a>
                        </div>
                    }
                </div>
                @if (this.User.IsInRole("Student"))
                {
                    <div class="col-sm-4 d-flex justify-content-end">
                        <p class="text-info">Точки:</p>
                        @if (lesson.Score == 0)
                        {
                            <p class="text-info font-weight-bold ml-2">@lesson.Score%</p>
                        }
                        else if (lesson.Score < 70)
                        {
                            <p class="text-danger font-weight-bold">@lesson.Score%</p>
                        }
                        else if (lesson.Score >= 70)
                        {
                            <p class="text-success font-weight-bold">@lesson.Score%</p>
                        }
                    </div>
                }
            </div>
        }
    </div>
    <hr />
    <div class="mt-4 ml-4 mb-2 row form-group">
        <a href="@Url.Action("Categories", "Subject",new {Id = Model.SubjectId})">Назад</a>
    </div>

    @if (this.User.IsInRole("Admin"))
    {
        <p class="btn btn-outline-info">
            <a asp-action="AddLesson">Създаване</a>
        </p>
    }
</div>

<div id="dialog-confirm" title="Изтриване на урок">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        Информацията ще бъде изтрита. Продължи?
    </p>
</div>

<div id="successMessage"></div>

<div style="display: none; " id="errorMessageDialog" title="Грешка!">
    <p style="max-height:280px; overflow:auto;" id="errorMessage">
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    </p>
</div>

<script>
    $(function () {
        $("#dialog-confirm").hide();
        $(".btnDelete").click(function () {
            $("#dialog-confirm").dialog({
                resizable: true,
                height: 250,
                width: 450,
                modal: true,
                buttons:
                {
                    "изтриване": function () {
                        var categoryId = $(".btnDelete").attr("id");
                        $.ajax({
                            url: "/Subject/DeleteLesson/" + categoryId,
                            type: "POST",
                            success: function () {
                                $("#successMessage").dialog({
                                    resizable: false,
                                    height: 200,
                                    width: 300,
                                    modal: true,
                                    buttons: {
                                        "Затвори": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                $("#successMessage").html("Успешно изтриване!");
                            },
                            error: function (request, err, message) {
                                $("#errorMessage").html(request.statusText);
                                $("#errorMessageDialog").dialog({
                                    maxHeight: 290,
                                    width: 600,
                                    modal: true,
                                    buttons: {
                                        "Затвори": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                //In release version use this
                                //$("#errorMessage").html("Потребителя не  може да бъде изтрит");
                            }
                        });
                        $(this).dialog("close");
                    },
                    "назад": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    });
</script>