@model IEnumerable<DigitalCoolBook.App.Models.StudentViewModels.StudentEditViewModel>

@{
    ViewData["Title"] = "EditStudents";
    Layout = "_LayoutMenus";
}

<style>
    .myOrangeButton {
        background: #ffb74d;
    }
</style>

<h2>Изтриване или редактиране на ученически профили.</h2>

<p>
    <a asp-controller="Student" asp-action="RegisterStudent" class="btn myOrangeButton">Добавяне на ученик</a>
</p>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayName("Имейл")
            </th>
            <th>
                @Html.DisplayName("Име")
            </th>
            <th>
                @Html.DisplayName("Дата на раждане")
            </th>
            <th>
                @Html.DisplayName("Място на раждане")
            </th>
            <th>
                @Html.DisplayName("Пол")
            </th>
            <th>
                @Html.DisplayName("Мобилен телефон")
            </th>
            <th>
                @Html.DisplayName("Домашен телефон")
            </th>
            <th>
                @Html.DisplayName("Име на Бащата")
            </th>
            <th>
                @Html.DisplayName("Име на Майката")
            </th>
            <th>
                @Html.DisplayName("Телефон на майката")
            </th>
            <th>
                @Html.DisplayName("Телефон на бащата")
            </th>
            <th>
                @Html.DisplayName("Адрес")
            </th>
            <th>
                @Html.DisplayName("Клас")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.PlaceOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.MobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.FatherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.MotherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.MotherMobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.FatherMobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.GradeName)
                </td>
                <td>
                    <a class="btnDelete btn btn-sm myOrangeButton" href="#" id="@student.Id">Изтрий</a>
                    <a class="btn btn-sm myOrangeButton mt-1" asp-controller="Student" asp-action="EditStudent" asp-route-id="@student.Id">Редактирай</a>
                    <a class="btn btn-sm myOrangeButton mt-1" asp-controller="Student" asp-action="ChangePassword" asp-route-id="@student.Id">Смяна на парола</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        $("#dialog-confirm").hide();
        $(".btnDelete").click(function () {
            $("#dialog-confirm").dialog({
                resizable: true,
                height: 250,
                width: 450,
                modal: true,
                buttons: {
                    "изтриване": function () {
                        var studentId = $(".btnDelete").attr("id");
                        $.ajax({
                            url: "/Student/DeleteStudent/" + studentId,
                            type: "POST",
                            success: function () {
                                $("#successMessage").dialog({
                                    resizable: false,
                                    height: 200,
                                    width: 300,
                                    modal: true,
                                    buttons: {
                                        "Затвори": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                $("#successMessage").html("Профилът беше изтрит!");
                            },
                            error: function (request, err, message) {
                                $("#errorMessage").html(request.responseText);
                                $("#errorMessageDialog").dialog({
                                    maxHeight: 290,
                                    width: 600,
                                    modal: true,
                                    buttons: {
                                        "Затвори": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                //In release version use this
                                //$("#errorMessage").html("Потребителя не  може да бъде изтрит");
                            }
                        });
                        $(this).dialog("close");
                    },
                    "назад": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    });
</script>

<div id="dialog-confirm" title="Изтриване на потребител">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        Профилът ще бъде изтрит. Продължи?
    </p>
</div>

<div id="successMessage"></div>

<div style="display: none; " id="errorMessageDialog" title="Грешка!">
    <p style="max-height:280px; overflow:auto;" id="errorMessage">
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    </p>
</div>