@model IEnumerable<DigitalCoolBook.App.Models.StudentViewModels.StudentEditViewModel>

@{
    ViewData["Title"] = "EditStudents";
    Layout = "_Layout";
}

<div class="col-md-12 col-sm-12 mt-3">
    <div class="page-wrapper">
        <h3>Students control panel</h3>
        <hr />
        <a class="btn btn-success btn-sm mb-2" 
           asp-controller="Student" 
           asp-action="RegisterStudent"><i class="fas fa-plus"></i> Student</a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Place of birth</th>
                <th>Gender</th>
                <th>Mobile phone number</th>
                <th>Home phone number</th>
                <th>Father's name</th>
                <th>Mother's name</th>
                <th>Mother phone number</th>
                <th>Father phone number</th>
                <th>Address</th>
                <th>Class</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Email</td>
                    <td>@student.Name</td>
                    <td>@student.DateOfBirth.ToShortDateString()</td>
                    <td>@student.PlaceOfBirth</td>
                    <td>@student.Sex</td>
                    <td>@student.MobilePhone</td>
                    <td>@student.Telephone</td>
                    <td>@student.FatherName</td>
                    <td>@student.MotherName</td>
                    <td>@student.MotherMobileNumber</td>
                    <td>@student.FatherMobileNumber</td>
                    <td>@student.Address</td>
                    <td>@student.GradeName</td>
                    <td class="buttons-vertical-wrapper">
                        <a class="btn-delete btn btn-danger btn-sm" href="#" id="@student.Id">Delete</a>
                        <a class="btn btn-warning btn-sm"
                           asp-controller="Student"
                           asp-action="EditStudent"
                           asp-route-id="@student.Id">Edit</a>
                        <a class="btn btn-warning btn-sm"
                           asp-controller="Student"
                           asp-action="ChangePassword"
                           asp-route-id="@student.Id">Change password</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="buttons-wrapper mt-4 mb-4">
            <a asp-controller="Admin" asp-action="AdminPanel"><i class="fas fa-lg fa-arrow-circle-left"></i></a>
        </div>
    </div>
</div>

@*Dialogs*@
<div id="dialog-confirm" title="Delete">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        The profile will be deleted. Continue?
    </p>
</div>

<div id="successMessage"></div>

<div style="display: none; " id="errorMessageDialog" title="Error!">
    <p style="max-height:280px; overflow:auto;" id="errorMessage">
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    </p>
</div>

@section Scripts
{
    <script>
        $(function () {
            $("#dialog-confirm").hide();
            $(".btn-delete").click(function () {
                $("#dialog-confirm").dialog({
                    modal: true,
                    buttons: {
                        "delete": function () {
                            var studentId = $(".btn-delete").attr("id");
                            $.ajax({
                                url: "/Student/DeleteStudent/" + studentId,
                                type: "POST",
                                success: function () {
                                    $("#successMessage").dialog({
                                        modal: true,
                                        buttons: {
                                            "close": function () {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });
                                    $("#successMessage").html("Profile was deleted!");
                                },
                                error: function (request) {
                                    $("#errorMessage").html(request.responseText);
                                    $("#errorMessageDialog").dialog({
                                        modal: true,
                                        buttons: {
                                            "close": function () {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });
                                    //Use in production
                                    //$("#errorMessage").html("The profile can't be deleted");
                                }
                            });
                            $(this).dialog("close");
                        },
                        "back": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });
    </script>
}