@model IEnumerable<DigitalCoolBook.App.Models.StudentViewModels.StudentEditViewModel>

@{
    ViewData["Title"] = "EditStudents";
    Layout = "_LayoutMenus";
}

<style>
    .myOrangeButton {
        background: #ffb74d;
    }
</style>

<h2>Students control panel</h2>

<p><a asp-controller="Student" asp-action="RegisterStudent" class="btn myOrangeButton">Add student</a></p>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th>@Html.DisplayName("Email")</th>
            <th>@Html.DisplayName("Name")</th>
            <th>@Html.DisplayName("Date of birth")</th>
            <th>@Html.DisplayName("Place of birth")</th>
            <th>@Html.DisplayName("Sex")</th>
            <th>@Html.DisplayName("Mobile phone number")</th>
            <th>@Html.DisplayName("Home phone number")</th>
            <th>@Html.DisplayName("Father's name")</th>
            <th>@Html.DisplayName("Mother's name")</th>
            <th>@Html.DisplayName("Mother phone number")</th>
            <th>@Html.DisplayName("Father phone number")</th>
            <th>@Html.DisplayName("Address")</th>
            <th>@Html.DisplayName("Class")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => student.Email)</td>
                <td>@Html.DisplayFor(modelItem => student.Name)</td>
                <td>@Html.DisplayFor(modelItem => student.DateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem => student.PlaceOfBirth)</td>
                <td>@Html.DisplayFor(modelItem => student.Sex)</td>
                <td>@Html.DisplayFor(modelItem => student.MobilePhone)</td>
                <td>@Html.DisplayFor(modelItem => student.Telephone)</td>
                <td>@Html.DisplayFor(modelItem => student.FatherName)</td>
                <td>@Html.DisplayFor(modelItem => student.MotherName)</td>
                <td>@Html.DisplayFor(modelItem => student.MotherMobileNumber)</td>
                <td>@Html.DisplayFor(modelItem => student.FatherMobileNumber)</td>
                <td>@Html.DisplayFor(modelItem => student.Address)</td>
                <td>@Html.DisplayFor(modelItem => student.GradeName)</td>
                <td>
                    <a class="btnDelete btn btn-sm myOrangeButton" href="#" id="@student.Id">Delete</a>
                    <a class="btn btn-sm myOrangeButton mt-1"
                       asp-controller="Student"
                       asp-action="EditStudent"
                       asp-route-id="@student.Id">Edit</a>
                    <a class="btn btn-sm myOrangeButton mt-1"
                       asp-controller="Student"
                       asp-action="ChangePassword"
                       asp-route-id="@student.Id">Change password</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        $("#dialog-confirm").hide();
        $(".btnDelete").click(function () {
            $("#dialog-confirm").dialog({
                resizable: true,
                height: 250,
                width: 450,
                modal: true,
                buttons: {
                    "delete": function () {
                        var studentId = $(".btnDelete").attr("id");
                        $.ajax({
                            url: "/Student/DeleteStudent/" + studentId,
                            type: "POST",
                            success: function () {
                                $("#successMessage").dialog({
                                    resizable: false,
                                    height: 200,
                                    width: 300,
                                    modal: true,
                                    buttons: {
                                        "close": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                $("#successMessage").html("Profile was deleted!");
                            },
                            error: function (request) {
                                $("#errorMessage").html(request.responseText);
                                $("#errorMessageDialog").dialog({
                                    maxHeight: 290,
                                    width: 600,
                                    modal: true,
                                    buttons: {
                                        "close": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                //In production use this
                                //$("#errorMessage").html("The profile can't be deleted");
                            }
                        });
                        $(this).dialog("close");
                    },
                    "back": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    });
</script>

<div id="dialog-confirm" title="Delete">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        The profile will be deleted. Continue?
    </p>
</div>

<div id="successMessage"></div>

<div style="display: none; " id="errorMessageDialog" title="Error!">
    <p style="max-height:280px; overflow:auto;" id="errorMessage">
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    </p>
</div>